body{
    background-color: antiquewhite;
}
img{
    height:500px;
    width: 500px;
    position: relative;
    margin-left: 30%;
}
form{
    margin-left: 30%;
}
h1{
    margin-left: 24%;
}
h3{
    margin-left: 24%;
    font-style: italic;
    font: green;
}